---
layout: default
title: Playround Developer
---

<div class="row">
  <div class="large-12 columns">
    <h1>Playround Api Documentation</h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <div class="section-container accordion" data-section="accordion">
      <section>
        <p class="title" data-section-title><a href="#">Basics</a></p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#intro">Introduction</a></li>
            <li><a href="#authentication">Authentication</a></li>
            <li><a href="#errors">Errors</a></li>
            <li><a href="#versioning">Versioning</a></li>
          </ul>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">API Objects</a></p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#tokens">Tokens</a></li>
            <li><a href="#users">Users</a></li>
            <li><a href="#rounds">Rounds</a></li>
            <li><a href="#games">Games</a></li>
            <li><a href="#arenas">Arenas</a></li>
            <li><a href="#participations">Participations</a></li>
            <li><a href="#buddies">Buddies</a></li>
            <li><a href="#buddyships">Buddyships</a></li>
            <li><a href="#starts">Starts</a></li>
            <li><a href="#winnings">Winnings</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="large-9 columns">
    {% include basics.html %}

    <hr/>

    <section id="api-objects">
      <h2>API Objects</h2>

      <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
          <dd data-magellan-arrival="tokens" class="active"><a href="#tokens">Tokens</a></dd>
          <dd data-magellan-arrival="users"><a href="#users">Users</a></dd>
          <dd data-magellan-arrival="rounds"><a href="#rounds">Rounds</a></dd>
          <dd data-magellan-arrival="games"><a href="#games">Games</a></dd>
          <dd data-magellan-arrival="arenas"><a href="#arenas">Arenas</a></dd>
          <dd data-magellan-arrival="participations"><a href="#participations">Participations</a></dd>
          <dd data-magellan-arrival="buddies"><a href="#buddies">Buddies</a></dd>
          <dd data-magellan-arrival="buddyships"><a href="#buddyships">Buddyships</a></dd>
          <dd data-magellan-arrival="starts"><a href="#starts">Starts</a></dd>
          <dd data-magellan-arrival="winnings"><a href="#winnings">Winnings</a></dd>
        </dl>
      </div>

      {% include tokens.html %}
      <hr/>
      {% include users.html %}
      <hr/>
      {% include rounds.html %}
      <hr/>
      {% include games.html %}
      <hr/>
      {% include arenas.html %}
      <hr/>
      {% include participations.html %}
      <hr/>
      {% include buddies.html %}
      <hr/>
      {% include buddyships.html %}
      <hr/>
      {% include starts.html %}
      <hr/>
      {% include winnings.html %}
    </section>
  </div>
</div>