<section id="basics">
  <h2>Basics</h2>

  <section id="intro">
    <h3>Introduction</h3>

    <p>
      The Playround API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which can be understood by off-the-shelf HTTP clients. JSON will be returned in all responses from the API, including errors.
    </p>
  </section>

  <section id="authentication">
    <h3>Authentication</h3>

    <p>
      Authentication to the API occurs via HTTP Basic Token Auth. Provide your API key as a header.

      <div class="code">
        <pre>$ curl -H "HTTP_AUTHORIZATION: Token token=\"860df8e37ae9dd7dff5e5aaa2fbfb4fb\"" https://api.goplayround.com</pre>
      </div>

      Requests that require authentication will return 401 if the token is not provided.
    </p>
  </section>

  <section id="errors">
    <h3>Errors</h3>

    <h4>Validation</h4>
    <p>
      Sending invalid fields will result in a 422 Unprocessable Entity response, including a json with the errors for the api object fields.

      Example
    </p>

    <div class="code">
      <pre>$ curl -H "Authorization: {TOKEN}" https://api.goplayround.com/v1/rounds -d ""</pre>
    </div>

    <div class="code">
      <pre>
HTTP/1.1 422 Unprocessable Entity

{
  "errors": {
    "game_id":["can't be blank"],
    "user_id":["can't be blank"],
    "arena_id":["can't be blank"]
  }
}
      </pre>
    </div>

    <h4>Unauthorized</h4>

    <p>
      Some requests require authentication and they will be marked in the documentation with the <span class="authentication">Authentication</span> label.<br/>
      If an authentication token is not provided the server will respond with the 401 status code and the following body
    </p>

    <div class="code">
      <pre>
{
  "error": "You did not provide a Token."
}
      </pre>
    </div>

    <p>If an invalid token is provided the body will be this:</p>

    <div class="code">
      <pre>
{
  "error": "Invalid Token provided: TOKEN"
}
      </pre>
    </div>

    <h4>Forbidden</h4>

    <p>
      Some requests require authorization. For example only the round creator can use the PATCH /rounds/:id endpoint. Requests requiring authorization will be marked with the <span class="authorization">Authorization</span> label along with a list of users who can access that endpoint.<br/>
      If the current user is not authorized to perform that request the server will respond with the 403 status code and no body.
    </p>
  </section>

  <section id="versioning">
    <h3>Versioning</h3>

    <p>
      Version is specified as a parameter in the url, right after the domain. For example:

      <div class="endpoint">
        <span class="get">GET</span> /v1/users/:id
      </div>

      If you don't specify any version your requests will be redirected to the last one.
    </p>
  </section>

  <section id="current-user">
    <h3>Current User</h3>

    <p>
      All the endpoints with the parameter :user_id and :id in /users/:id (users nested routes) can have that parameter replaced with "me". For example:
    </p>

      <div class="endpoint">
        <span class="get">GET</span> /v1/users/me/buddies
      </div>

    <p>
      Any action performed with "me" instead of the Playround :user_id will be performed on the current user. In the example above we are accessing the current user's buddies.<br/>
      These kind of requests need authentication.
    </p>
  </section>
</section>