<section id="buddies">
  <h3 data-magellan-destination="buddies">Buddies</h3>

  <h4>Index</h4>
  <p>Get the list of user's buddies</p>

  <div class="endpoint">
    <span class="get">GET</span> /v1/users/:user_id/buddies
  </div>

  <h5>Example</h5>

  <p>Response:</p>

  <div class="code">
    <pre>
HTTP/1.1 200 Success

{
  "buddies": [
    {
      "id": "cfa8fced-d69b-48f3-b916-4898c49a485c",
      "name": "Test User",
      "image": "http://graph.facebook.com/1256/picture?type=square",
      "facebook_id": "1256"
    },
    {
      "id": "75a84524-723b-4c8d-8602-3b4024adf14e",
      "name": "Test User",
      "image": "http://graph.facebook.com/1257/picture?type=square",
      "facebook_id": "1257"
    },
    {
      "id": "f7d2af56-ae31-4050-97eb-d3f492d5fcc9",
      "name": "Test User",
      "image": "http://graph.facebook.com/1258/picture?type=square",
      "facebook_id": "1258"
    }
  ]
}
    </pre>
  </div>
</section>