<section id="rounds">
  <h3 data-magellan-destination="rounds">Rounds</h3>

  <h4>Index</h4>
  <p>
    Get the list of rounds created by the current user.<br/>
    Requires <span class="authentication">Authentication</span>
  </p>

  <div class="endpoint">
    <span class="get">GET</span> /v1/rounds
  </div>

  <h5>Example</h5>

  <p>Response:</p>

  <div class="code">
    <pre>
HTTP/1.1 200 Success

{
  "rounds": [
    {
      "id": "a858345b-2ab5-43d4-a7e7-c8454a0e5711",
      "state": "waiting_for_players",
      "game": {
        "id": "cd8c94f5-9b4e-406e-91d3-094e11b4ea6a",
        "name": "dota2",
        "display_name": "Dota 2",
        "image_url": "http://localhost:8080/assets/dota2.jpg",
        "teams": [
          {
            "name": "radiant",
            "display_name": "Radiant",
            "number_of_players": 5
          },
          {
            "name": "dire",
            "display_name": "Dire",
            "number_of_players": 5
          }
        ]
      },
      "teams": [],
      "arena": {
        "id": "ea726daa-0b5b-4c3f-bf4e-e142b5b8ff32",
        "name": "Clinton St. Baking Co. & Restaurant",
        "latitude": 40.721294,
        "longitude": -73.983994,
        "foursquare_id": "5104"
      }
    },
    {
      "id": "30626c80-7f70-41e4-9d53-cae639d85473",
      "state": "waiting_for_players",
      "game": {
        "id": "cd8c94f5-9b4e-406e-91d3-094e11b4ea6a",
        "name": "dota2",
        "display_name": "Dota 2",
        "image_url": "http://localhost:8080/assets/dota2.jpg",
        "teams": [
          {
            "name": "radiant",
            "display_name": "Radiant",
            "number_of_players": 5
          },
          {
            "name": "dire",
            "display_name": "Dire",
            "number_of_players": 5
          }
        ]
      },
      "teams": [],
      "arena": {
        "id": "ea726daa-0b5b-4c3f-bf4e-e142b5b8ff32",
        "name": "Clinton St. Baking Co. & Restaurant",
        "latitude": 40.721294,
        "longitude": -73.983994,
        "foursquare_id": "5104"
      }
    }
  ]
}
    </pre>
  </div>

  <h4>Show</h4>
  <p>Get informations about a round</p>

  <div class="endpoint">
    <span class="get">GET</span> /v1/rounds/:id
  </div>

  <p>Response:</p>

  <div class="code">
    <pre>
HTTP/1.1 200 Success

{
  "round":{
    "id":"ae28daa4-0a71-4d62-a29b-50cf498f860b",
    "state":"waiting_for_players",
    "game":{
      "id":"8a050130-6c26-4079-bf73-43bba8abd42d",
      "name":"dota2",
      "display_name":"Dota 2",
      "image_url":"http://localhost:8080/assets/dota2.jpg",
      "number_of_teams":2
    },
    "teams": [],
    "arena":{
      "id":"cbdb5137-0111-4eae-b69a-7da34176c6a6",
      "name":"Clinton St. Baking Co. u0026 Restaurant",
      "latitude":40.721294,
      "longitude":-73.983994,
      "foursquare_id":"5104"
    }
  }
}
    </pre>
  </div>

  <h4>Create</h4>
  <p>
    Starts a new round.<br/>

    Requires <span class="authentication">Authentication</span><br/>
  </p>

  <div class="endpoint">
    <span class="post">POST</span> /v1/rounds
  </div>

  <p>Parameters:</p>

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="parameter">game_name</span></td>
        <td>The round's game. It can be among these:
          <ul>
            <li>dota2</li>
            <li>go</li>
            <li>table_football</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td><span class="parameter">arena</span></td>
        <td>
          Dictionary containing the properties of the arena which can be either the foursquare_id or the location coordinates:
          <ul>
            <li>
              <pre>
{ foursquare_id": "5104" }
              </pre>
            </li>
            <li>
              <pre>
{ "latitude": 30, "longitude": 50 }
              </pre>
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td><span class="parameter">teams</span></td>
        <td>
          Array of teams containing the "name" and "users" properties.

          <ul>
            <li>"name" is used to decide which team the user will join and it's mandatory. See the description of games to know which teams you can use.</li>
            <li>"users" is an array of user dictionaries. Each one can contain the Playround id of the user or the facebook_id of a unregistered user, who will be imported into Playround.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <h5>Example</h5>

  <p>Request body:</p>

  <div class="code">
    <pre>
{
  "round": {
    "game_name": "dota2",
    "arena": {
      "foursquare_id": "5104"
    },
    "teams": [
      {
        "name": "radiant",
        "users": [
          {
            "id": "571dde2f-5ff7-44a6-a803-f1ac43ba30c6"
          }
        ]
      },
      {
        "name": "dire",
        "users": [
          {
            "facebook_id": "100002950674984"
          },
          {
            "facebook_id": "100002734755203"
          }
        ]
      }
    ]
  }
}
    </pre>
  </div>

  <p>Response:</p>

  <div class="code">
    <pre>
HTTP/1.1 201 Created

{
  "round": {
    "id": "4c995fd7-a928-444a-947b-5ad1aa5a65dc",
    "state": "waiting_for_players",
    "game": {
      "id": "46d128c6-9de3-4ebf-a226-5e4fee401153",
      "name": "dota2",
      "display_name": "Dota 2",
      "image_url": "http://localhost:8080/assets/dota2.jpg",
      "teams": [
        {
          "name": "radiant",
          "display_name": "Radiant",
          "number_of_players": 5
        },
        {
          "name": "dire",
          "display_name": "Dire",
          "number_of_players": 5
        }
      ]
    },
    "arena": {
      "id": "1b40dee4-5fa7-4c64-8a18-bc19e169fdf2",
      "name": "Clinton St. Baking Co. & Restaurant",
      "latitude": 40.721294,
      "longitude": -73.983994,
      "foursquare_id": "5104"
    },
    "teams": [
      {
        "name": "dire",
        "winner": false,
        "participations": [
          {
            "joined": false,
            "user": {
              "id": "125732fb-60d0-4776-8859-94e75cc89020",
              "name": "Eugenio Depalo",
              "image": "http://graph.facebook.com/100002950674984/picture?type=square",
              "facebook_id": "100002950674984"
            }
          },
          {
            "joined": false,
            "user": {
              "id": "c49d0f86-aca5-4a51-b004-d09276bede3a",
              "name": "Matteo Depalo",
              "image": "http://graph.facebook.com/100002734755203/picture?type=square",
              "facebook_id": "100002734755203"
            }
          }
        ]
      },
      {
        "name": "radiant",
        "winner": false,
        "participations": [
          {
            "joined": false,
            "user": {
              "id": "571dde2f-5ff7-44a6-a803-f1ac43ba30c6",
              "name": "Test User",
              "image": "http://graph.facebook.com/1214/picture?type=square",
              "facebook_id": "1214"
            }
          }
        ]
      }
    ]
  }
}
    </pre>
  </div>

  <h4>Invalid attributes</h4>

  <p>Posting invalid attributes will result in a response with status 422 and a body containing the errors relative to invalid fields.</p>

  <h5>Example</h5>

  <p>Request body:</p>

  <div class="code">
    <pre>
{
  "round": {
    "game_name": "lol"
  }
}
    </pre>
  </div>

  <p>Response:</p>

  <div class="code">
    <pre>
HTTP/1.1 422 Unprocessable Entity

{
  "errors": {
    "game_id": [
      "can't be blank"
    ],
    "arena_id": [
      "can't be blank"
    ],
    "base": [
      "game_name must be among: dota2, table_football, go"
    ]
  }
}
    </pre>
  </div>

  <h4>Delete</h4>
  <p>
    Deletes a round.<br/>
    Requires <span class="authentication">Authentication</span> and <span class="authorization">Authorization</span><br/>
    Only the creator of the round can delete it.
  </p>

  <div class="endpoint">
    <span class="delete">DELETE</span> /v1/rounds/:id
  </div>

  <h5>Example</h5>

  <p>Response:</p>

  <div class="code">
    <pre>
HTTP/1.1 200 Success

{
  "round": {
    "id": "2daf4670-a41c-4a78-aa52-7a63b25f10e5",
    "state": "waiting_for_players",
    "game": {
      "id": "4c9384a8-aa77-415b-bff7-9fcb5ec3231e",
      "name": "dota2",
      "display_name": "Dota 2",
      "image_url": "http://localhost:8080/assets/dota2.jpg",
      "teams": [
        {
          "name": "radiant",
          "display_name": "Radiant",
          "number_of_players": 5
        },
        {
          "name": "dire",
          "display_name": "Dire",
          "number_of_players": 5
        }
      ]
    },
    "teams": [],
    "arena": {
      "id": "7a4f2962-ceb7-4f49-85bd-e34c306206ca",
      "name": "Clinton St. Baking Co. & Restaurant",
      "latitude": 40.721294,
      "longitude": -73.983994,
      "foursquare_id": "5104"
    }
  }
}
    </pre>
  </div>
</section>