<section id="starts">
  <h3 data-magellan-destination="starts">Starts</h3>

  <h4>Create</h4>
  <p>
    Starts the round. Requires <span class="authentication">Authentication</span> and <span class="authorization">Authorization</span><br/>
    Only the creator of the round can start it.
  </p>

  <div class="endpoint">
    <span class="get">POST</span> /v1/rounds/:round_id/starts
  </div>

  <h5>Example</h5>

  <p>Response:</p>

  <div class="code">
    <pre>
HTTP/1.1 201 Created

{
  "round": {
    "id": "34394bcb-9570-43f3-a4d8-2bf9dc0e61e8",
    "state": "ongoing",
    "game": {
      "id": "d269bab0-ac7a-456a-9ee4-6856227acb2b",
      "name": "dota2",
      "display_name": "Dota 2",
      "image_url": "http://localhost:8080/assets/dota2.jpg",
      "teams": [
        {
          "name": "radiant",
          "display_name": "Radiant",
          "number_of_players": 5
        },
        {
          "name": "dire",
          "display_name": "Dire",
          "number_of_players": 5
        }
      ]
    },
    "arena": {
      "id": "e624d779-17b3-4fa4-bda0-f858a6afd8dc",
      "name": "Clinton St. Baking Co. & Restaurant",
      "latitude": 40.721294,
      "longitude": -73.983994,
      "foursquare_id": "5104"
    },
    "teams": []
  }
}
    </pre>
  </div>
</section>