<section id="tokens">
  <h2 data-magellan-destination="tokens">Tokens</h2>

  <h4>Create</h4>
  <p>Creates an api token from a Facebook access token. You can then use the api token returned to authenticate, passing it like described above in the basics authentication section</p>

  <div class="endpoint">
    <span class="http-verb">POST</span> /v1/tokens
  </div>

  <p>Parameters</p>

  <table>
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="parameter">token</span></td>
        <td>
          A dictionary containing the Facebook access token
          <div class="code"><pre>{ "facebook_access_token": FB_TOKEN }</pre></div>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Example</h4>

  <p>Request body</p>

  <div class="code">
    <pre>
{
  "token": {
    "facebook_access_token": "CAAC8zNkpcngBALYL57eSZACi7ZCU6Yd6LI0CB38eZAWDV4MXIPZCQdL5rXfx62q2VxNIsZA3knLLuRbAwZBFKVLyUyYvyG0WInZCXgTZAcXcESnoKSkZAuyul49Qn7nEeKRY4d59DVmDylYTOdLoG613UEJvaLZCnMXK0ZD"
  }
}
    </pre>
  </div>

  <p>Response</p>

  <div class="code">
    <pre>
HTTP/1.1 200 Success

{
  "token": {
    "value":"7744210c42428c387f93630509058fcc",
    "user": {
      "id": "28e7b312-2dea-482f-864e-5a2d9dc5dacf",
      "name"=>"Mary Bharambeson",
      "image"=>"http://graph.facebook.com/100006103630429/picture?type=square",
      "facebook_id"=>"100006103630429",
      "foursquare_id"=>nil,
      "email":
      "akmdchh_bharambeson_1371063599@tfbnw.net"
    }
  }
}
    </pre>
  </div>
</section>